*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

body{
    background-image: url(../imgs/background_login.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: fixed;
}

h1{
    text-align: center;
    margin-top: 20%;
}

table{
    width: 50%;
    margin: 0 auto;
    border-collapse: collapse;
}

table, th, td{
    border: 1px solid black;
    padding: 8px;
    color: white;
}

.caja_trasera{
    width: 40%;
    margin-top: 17%;
    margin-left: 30%;
    padding-top: 0.1%;
    padding-left: 0.1%;
    padding-bottom: 10%;
    backdrop-filter: blur(10px);
    background-color: rgba(0, 128, 255, 0.5 );
    border-radius: 10px; 
}

#btn_logout{
    position: absolute;
    left: 36%;
    top: 80%;
    font-size: 75%;
    padding: 2% 40px;
    cursor: pointer;
    background-color: gray;
    border: none;
    color: antiquewhite;
    border-radius: 2px;
}