.nosotros_texto{
    position: absolute;
    top: 8%;
    left: 4%;
    color: white;
    font-size: 280%
}

#top_nosotros{
    width: 101%;
    margin-top: -1.4%;
    margin-left: -0.5%;
}

#cocineros{
    margin-top: 5%;
    margin-left: 5%;
    float: left;
    width: 35%;
}

#parrafo1{
    color: white;
    width: 50%;
    padding: 2%;
    font-size: 170%;
    float: right;
}
#resaltado_p1{
    background-color: rgba(128, 128, 128, 0.1);
    border-left: 5px solid red;
    padding: 3%;
    font-style: italic;
}